* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Amazon Ember', Arial, sans-serif;
}

:root {
  --top-nav-color: rgb(15, 17, 17);
  --link-green-color: rgb(0, 113, 113);
  --link-red-color: rgb(199, 81, 31);
  --mid-nav-color: rgb(35, 47, 62);
  --orange-color: rgb(254, 189, 105);
  --gray-clor: rgb(229, 231, 235);
  --red-color: rgb(177, 39, 4);
  --contaioner-widet: 800px;
  --carrousel-height: 250px;
  --color-blue: rgb(0, 113, 133);
}

a {
  text-decoration: none;
}

.nav-top a,
.nav-mid a {
  color: white;
}

/* ========= Top nav ========== */
.nav-top {
  background-color: var(--top-nav-color);
  width: 100%;
  height: 60px;
  padding: 8px 10px;
  display: flex;
  align-items: center;
}

.top-nav-item {
  padding: 9px;
  color: width;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-grow: 0;
}

.top-nav-item:hover,
.nav-mid-item:hover {
  border: 1px white solid;
  border-radius: 2px;
}

.top-nav-item h3 {
  font-weight: 700;
  font-size: 14px;
}
.top-nav-item h4 {
  font-weight: 400;
  font-size: 11px;
}

.nav-top .serch-box {
  border-radius: 5px;
  height: 95%;
  flex-grow: 1;
}

.nav-top .serch-box form {
  height: 100%;
  display: flex;
  border-radius: 7px;
  overflow: hidden;
}

.grow {
  flex-grow: 1;
}

.nav-top .serch-box form select {
  background-color: #eee;
  color: #777;
  margin: 0;
  width: 80px;
  text-align: center;
  font-family: 'Amazon Ember', Arial, sans-serif;
}
.nav-top .serch-box form select:hover {
  background-color: #ccc;
  color: #444;
}

.nav-top .serch-box:focus {
  border: 2px var(--orange-color) solid;
}

.fa-magnifying-glass {
  transform: scale(0.7);
}

.nav-top .serch-box form .submit {
  width: 40px;
  border: none;
  background: url('../assets/img/search.png') center center / cover no-repeat;
  background-color: var(--orange-color);
}

.chart {
  color: var(--orange-color);
  font-weight: 700;
  text-align: center;
}

/* ========= /Top nav ========== */

/* ========= Mid nav ========== */
.nav-mid {
  background-color: var(--mid-nav-color);
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.hamburger-item {
  display: flex;
}

.nav-mid-item {
  font-size: 14px;
  padding: 2px 5px;
  cursor: pointer;
}
/* ========= /Mid nav ========== */

/* ========= Sub nav ========== */

.nav-sub {
  width: 100%;
  height: 30px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  overflow: hidden;
}

.sub-nav-item {
  flex-shrink: 0;
  padding: 7px 11px 4px 11px;
  font-size: 12px;
  border-bottom: white 4px solid;
  color: var(--mid-nav-color);
}
.sub-nav-item:first-child {
  font-weight: 700;
}

.sub-nav-item:hover {
  color: var(--orange-color);
  border-bottom: var(--orange-color) 4px solid;
}

/* ========= /Sub nav ========== */

/* ======== commercial ========= */
.commercial {
  width: 100%;
  height: 55px;
  background-color: #f8f8f8;
}

.commercial-container {
  max-width: 980px;
  display: flex;
  padding: 4px 24px;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.commercial-img {
  padding: 5px 16px;
  padding: 0 16px;
}

.commercial-container .flex-grow {
  overflow: hidden;
}
.commercial-container .flex-grow > span {
  display: block;
  width: 4000px;
  font-size: 14px;
}

.star-box {
  height: 38px;
  width: 93px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}

.upper-stars,
.lower-stars {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.upper-stars img {
  width: 75px;
  height: 15px;
}

.upper-stars span {
  font-size: 12px;
  color: rgb(85, 85, 85);
}

.lower-stars {
  color: var(--red-color);
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
}

.dollar {
  font-size: 8.5px;
  line-height: 14px;
}
/* ======== /commercial ========= */

/* ======== Category-map ========= */
.category-map {
  max-width: var(--contaioner-widet);
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.category-map div,
.category-map div a {
  color: #565959;
  font-size: 12px;
  padding: 0 4px;
}

.category-map div a:hover {
  text-decoration: underline;
}

.category-map div {
  display: inline-block;
}

.category-map div i,
.category-map div a i {
  font-size: 10px;
}

/* ======== /Category-map ========= */
/* ==================== Main ==================== */
main {
  display: grid;
  grid-template-columns: 450px 1fr 260px;
  grid-template-rows: 1fr var(--carrousel-height) var(--carrousel-height);
  grid-template:
    'image data side'
    'buy-it-with buy-it-with side'
    'carrousel carrousel carrousel';
  max-width: 1300px;
  margin: auto;
  padding: 10px;
  height: fit-content;
}

/* ==== Product-image ==== */
.product-image {
  width: 450px;
  align-self: stretch;

  padding: 10px;
  display: flex;
  position: relative;
  grid-area: image;
}

.gallery {
  flex-grow: 0;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  height: 260px;
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.gallery-item {
  border: rgb(130, 133, 138) 1px solid;
  height: 40px;
  width: 40px;
}

.gallery-item:hover {
  box-shadow: rgba(228, 121, 17, 0.5) 0px 0px 3px 2px;
}

:root {
  --img1: url('../assets/img/product/product1.jpg') center center/cover;
  --img2: url('../assets/img/product/product2.jpg') center center/cover;
  --img3: url('../assets/img/product/product3.jpg') center center/cover;
  --img4: url('../assets/img/product/product4.jpg') center center/cover;
  --img5: url('../assets/img/product/video.png') center center/cover;
}

.gallery-item1 {
  background: var(--img1);
}

.gallery-item2 {
  background: var(--img2);
}

.gallery-item3 {
  background: var(--img3);
}

.gallery-item4 {
  background: var(--img4);
}

.gallery-item5 {
  background-color: #444;
}
.gallery-item5 .circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px white solid;
  margin: 7px;
  background: url('../assets/img/product/play-button.png') center center/cover;
  background-color: white;
}

.gallery-item:hover::after {
  content: '';
  height: 250px;
  width: 350px;
  /* border: 2px dashed tomato; */
  position: absolute;
  top: 0;
  left: 60px;
}

.gallery-item1:hover::after {
  background: var(--img1);
}

.gallery-item2:hover::after {
  background: var(--img2);
}

.gallery-item3:hover::after {
  background: var(--img3);
}

.gallery-item4:hover::after {
  background: var(--img4);
}

.gallery-item5:hover::after {
  background: var(--img5);
}

.gallery p {
  font-weight: 700;
  font-size: 8px;
}

.large-product-image {
  width: 100%;
  /* display: none; */
}

.gallery-item1:hover ~ .img1 {
  display: block;
}

/* ====== /Product-image ==== */
.product-image {
  border: 2px dashed purple;
}

/* === Product Data ===== */
.product-data {
  grid-area: data;
}

.product-data > * {
  margin: 10px;
}

.product-data h3 {
  font-size: 24px;
  font-weight: 400;
}

.product-data a {
  color: var(--link-green-color);
  font-size: 14px;
  font-weight: 400;
}
.product-data a:hover {
  color: var(--link-red-color);
  text-decoration: underline;
}

.product-data img {
  height: 18px;
}

.gray-line {
  width: 90%;
  height: 1px;
  border-bottom: 1px solid var(--gray-clor);
  margin: auto;
}

.saving {
  padding: 0 8px;
  margin-right: 2px;
  background-color: rgb(127, 218, 105);
}

.tech-spec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 370px;
  grid-gap: 8px;
  font-size: 14px;
}

.red-price {
  font-size: 18px;
  color: var(--red-color);
  font-weight: 400;
}

.tech-title {
  font-weight: 700;
}

.product-data h4 {
  font-size: 16px;
}
.product-data ul {
  margin-left: 35px;
  margin-bottom: 30px;
}

.product-data a .red {
  color: var(--red-color);
}
/* ==== /Product Data ===== */

/* ==================== /Main ==================== */

/* ==== side === */
aside {
  grid-area: side;
}

aside .box {
  border: 1px var(--gray-clor) solid;
  border-radius: 10px;
  /* padding: 10px; */
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 25px;
  /* background-color: #777; */
}

aside .box:nth-child(2) {
  margin-bottom: 0;
}
aside a {
  color: var(--link-green-color);
}
aside a:hover {
  color: var(--link-red-color);
}

aside .box > * {
  margin: 15px;
}

.location-black {
  display: inline-block;
  transform: scale(1.3);
  margin: 0;
  padding: 0;
  margin-right: 2px;
}

.green-large {
  font-size: 18px;
  color: rgb(0, 118, 0);
}

.btn {
  display: block;
  width: 90%;
  text-align: center;
  border-radius: 50px;
  padding: 8px;
  color: var(--top-nav-color);
}

.btn:hover {
  color: var(--top-nav-color);
}

.btn1 {
  background-color: rgb(255, 216, 20);
}
.btn2 {
  background-color: rgb(255, 143, 0);
}
.btn1:hover {
  background-color: rgb(247, 202, 0);
}
.btn2:hover {
  background-color: rgb(227, 147, 30);
}
.fa-lock {
  color: lightgrey;
}

.add-to-list {
  padding: 5px;
  padding-left: 15px;
  border: 1px solid var(--mid-nav-color);
  border-radius: 5px;
  background-color: rgb(231, 233, 236);
  cursor: pointer;
}

.shipment {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
  width: 150px;
}

a .red-price {
  font-size: 14px;
  line-height: 60px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  height: 50px;
  text-align: center;
  font-size: 13px;
}

.fa-facebook {
  color: #4267b2;
}
.fa-pinterest {
  color: #f0002a;
}
.fa-twitter {
  color: #1da1f2;
}
.frame {
  margin: auto;
  width: 90%;
  padding: 10px;
  border-top: 1px solid var(--gray-clor);
}

.frame .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.add-to-chart-btn {
  background-color: rgb(255, 216, 20);
  padding: 3px 8px;
  font-size: smaller;
  border-radius: 5px;
}
.add-to-chart-btn:hover {
  background-color: rgb(247, 202, 0);
}
/* ==== /side === */

/* ===== Buy it with ========*/
.buy-it-with {
  grid-area: buy-it-with;
}

.carousel-style h3 {
  color: var(--orange-color);
}

.carousel-style .sponsored {
  color: #565959;
  font-size: 12px;
  padding: 0 4px;
}
.carousel-style .sponsored:hover {
  color: gray;
}

.buy-it-with-item {
  height: 116px;
  width: 116px;
}
.plus {
  font-size: xx-large;
}

.buy-it-with1 {
  background: var(--img1);
}
.buy-it-with3 {
  background: url('https://images-na.ssl-images-amazon.com/images/I/91pn+6pvnpL._AC_UL116_SR116,116_.jpg');
}
.buy-it-with2 {
  background: url('https://images-na.ssl-images-amazon.com/images/I/91FVoH+S5dL._AC_UL116_SR116,116_.jpg');
}

.items-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buy-it-with .items-block {
  width: 50%;
}

.blue-icon {
  color: var(--color-blue);
}

.carousel-style a {
  color: var(--color-blue);
}
.carousel-style a:hover {
  color: var(--orange-color);
  text-decoration: underline;
}
/* ===== /Buy it with ========*/

/* ============= carrousel ============ */
.carrousel {
  height: var(--carrousel-height);
  grid-area: carrousel;
}

/* ============= /carrousel ============ */

/* 


dummy
dummy
dummy
dummy
dummy
*/
.product-data {
  border: purple 2px dashed;
  /* height: 100%; */
}
.product-image {
  border: green 2px dashed;
  height: 60%;
}
aside {
  border: tan 2px dashed;
  /* height: 100%; */
}

.buy-it-with {
  border: seagreen 2px dashed;
}
.carrousel {
  border: olive 2px dashed;
}
